@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #45C4B0;
    --cor-hover: #008F8C;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-2rem: 2rem;
    --fonte-1-5rem: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 60px;
    max-width: 90%;
    width: 100%;
    max-height: 90%;
    min-height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; /* Adiciona esta linha */
    justify-content: center; /* Alinha o conteúdo verticalmente */
}

.cabecalho {
    padding: 5% 0 1 0%;
    font-size: 50px;
    font-family: var(--fonte-primaria);
}

.cabecalho__menu {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.cabecalho__menu__link {
    color: var(--cor-hover);
    text-decoration: none;
    font-size: 24px;
    margin: 0 25px;
}

h1 {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-2rem);
    margin-bottom: 40px;
    text-align: center;
}

.obs {
    font-size: 22px;
}

.texto__paragrafo {
    margin-bottom: 30px;
    font-size: var(--fonte-1-5rem);
    text-align: center;
}

.container__input {
    padding: 15px;
    border: 1px solid var(--cor-terciaria);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: var(--fonte-1-5rem);
    width: 500%;
    max-width: 805px;
    
}

.container__botoes {
    display: flex;
    gap: 80px;
}

.container__botao {
    padding: 15px;
    background: var(--cor-terciaria);
    border: none;
    border-radius: 5px;
    color: var(--cor-primaria);
    font-size: var(--fonte-1-5rem);
    cursor: pointer;
    transition: background 0.3s ease;
    min-width: 361px;
}

.container__botao:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.container__botao:hover {
    background: var(--cor-hover);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 0%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-1-5rem);
    font-weight: 400;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.textomenor {
    margin: 5px 0;
    font-size: 17px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 7% 0 0 5%;
        justify-content: center;
    }

    .cabecalho__menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cabecalho__menu__link {
        margin: 5px;
    }

    .container {
        padding: 4%;
    }

    .container__conteudo {
        width: 100%;
    }

    .container__botoes {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container__botao {
        width: 100%;
        margin-bottom: 10px;
    }

    .container__input {
        width: 100%;
        max-width: none;
    }
}
